/*
    Document   : stylesheets/main.css
    Created on : 2014-05-15 08:53 PM
    Author     : bretshack
    Description: Main stylesheet for app
*/

html, body {margin:5px; padding:0; overflow:hidden}

#canvas { position:fixed; top:0; left:0; height:100%; width:100% }