/*
    Document   : stylesheets/main.css
    Created on : 2014-05-15 08:53 PM
    Author     : bretshack
    Description: Main stylesheet for app
*/

html, body {margin: 5px; padding: 0; overflow: hidden; height: 100%; width: 100%;}