/*
    Document   : stylesheets/main.css
    Created on : 2014-05-15 08:53 PM
    Author     : bretshack
    Description: Main stylesheet for app
*/

html, body {margin: 5px; padding: 0; overflow: hidden;}

#canvas {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}